<h1>Vehicle Makes</h1>

<% <a href="/vehicle_makes">Task Index</a> %>

<h2> <%= vehicleMake.name %></h2>
<p><% @vehicle_makes.each do |vehicleMake| %></p>
    <p><%= vehicleMake.name %></p>
<p><% end %></p>




