<h1>Vehicle Makes</h1>

<% @vehicle_makes.each do |vehicleMake| %>
    <h3> <%= vehicleMake.name %> </h3>
    <p>Electric Vehicle:<%= vehicleMake.ev %></p>
    <p>Year Established:<%= vehicleMake.year_established %></p>
<% end %>




