 
<h1><%= @vehicle_makes.name %></h1>

<p> Electric Vehicle Manufacture: <%= @vehicle_makes.ev %></p>
<p> Year Established: <%= @vehicle_makes.year_established %></p>
<%# <p> Known Amount of Models: <%= @model_types.count %>